.burger-button {
    @include reset-button;
    @include square(48px);
  
    color: $color-gradient-2-start;
    position: relative;
    border-radius: $border-radius-small;
  
    @include hover {
      background-color: $color-gradient-2-end;
    }
  
    &::after {
      @include abs-center;
  
      content: '';
      width: 50%;
      height: 2px;
      background-color: $color-gradient-2-start;
      border-radius: 5px;
      box-shadow: 0 -8px, 0 8px;
    }
}