.header {
    padding-block: 30px;
    background-color: $color-background-red;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 40px;
    
        @include tablet {
          column-gap: 30px;
        }
    }

    &__logo {
        @include tablet {
          max-width: 120px;
        }
    
        @include mobile {
          max-width: 144px;
        }
    }

    &__menu {   
        &-list {
          display: flex;
          align-items: center;
          column-gap: 40px;
    
          @include desktop {
            column-gap: 20px;
          }
        }
    
        &-link {
          position: relative;
          display: inline-flex;
          align-items: center;
          height: 48px;
          color: $color-text-light;
          font-size: 15px;
      
          @include tablet {
            font-size: 14px;
          }
    
          @include hover {
            &::after {
              width: 100%;
            }
          }
    
          &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            translate: -50%;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition-duration: inherit;
          }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        @include mobile {
          margin-left: auto;
        }

        @include mobile-s {
          display: none;
        }
    }

    &__phone {
        display: flex;
        align-items: center;
        column-gap: 10px;

        &-link {
            font-size: 22px;
            color: $color-gradient-2-start;
            font-weight: 600;
        }
    }

    &__button {
        @include reset-button;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        color: $color-text-light;
        text-decoration: underline;
    }
}