.success-steps-form {
    width: 100%;

    &__container {
        padding-block: 40px;
        padding-inline: 70px;
        
        background: linear-gradient(107.6deg, #3A0C13 9.02%, #4D0F16 51.22%);
        @include border-style($border-radius, $color-gradient-2-start);
        color: $color-background-light;

        @include mobile {
            padding-inline: 20px;
        }
    }

    &__step {
        display: none;

        &-active {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 70px;
            min-height: 537px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        row-gap: 21px;

        

        &-content {
            display: flex;
            justify-content: space-between;
            column-gap: 20px;
            row-gap: 20px;

            @include mobile {
                flex-wrap: wrap;
            }

            &--top {
                display: flex;
                align-items: center;
                column-gap: 34px;
            }
        }

        &-numberstep {
            @include fluid-text(55, 28);
            font-weight: 500;
        }

        &-icon {
            width: 100%;
            object-fit: contain;
        }

        &-title {
            @include fluid-text(38,22);
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        column-gap: 23px;
        row-gap: 20px;

        @include mobile {
            flex-wrap: wrap;
        }

        &-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }
    }

    &__button {
        @include flex-center(true);
        @include border-style(6px, $color-gradient-2-end);
        color: $color-text-light;
        height: 73px;
        padding-inline: 30px;
        font-size: 16px;
        font-weight: 600;
        column-gap: 10px;
        background: #2F090C;
        cursor: pointer;

        transition: all 0.2s ease-in-out;

        @include hover {
            transform: scale(0.98);
            background: $color-gradient-1-start;
        }
    }
}